{% extends "layout.html" %}
{% block content %}
    <h1>Get to know me...</h1>
    <p>Hi there! My name is Jonathan Fowler, and I'm a programmer and linguist situated in Cardiff, Wales. I'm an MSc student in Computing at Cardiff University, and have a bachelors degree in English Language and Linguistics. When I'm not programming or writing essays, you can probably find me playing D&D or the Sims!</p>
    <p>You can contact me via any of the following methods:</p>
    <ul>
        <li>Email: jfowler1120@gmail.com</li>
        <li>Phone: 07908 460127</li>
    </ul>
{% endblock content %}